
    @keyframes slide-from-bottom {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }


    .animate-slide-from-bottom {
        animation: slide-from-bottom 0.5s ease-out forwards;
    }

